/* -------------------------------------------------------------------------------- */
/* Dialogs */

.dialogContainer {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(35px);
   backdrop-filter: blur(35px);
   z-index: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
   .dialogContainer {
      background-color: rgba(0, 0, 0, 0.7);
   }
}

.dialog {
   display: inline-block;
   width: fit-content;
   max-width: 800px;
   padding: clamp(20px, 7vw, 50px);
   border-radius: 30px;
   transition: 0.3s;
   background-color: rgba(255, 255, 255, 0.6);
   margin: 10px;
   max-height: 90vh;
   box-sizing: border-box;
   overflow-x: hidden;
   overflow-y: scroll;
   transform: scale(0.7);
}

@media (prefers-color-scheme: dark) {
   .dialog {
      background-color: rgba(255, 255, 255, 0.12);
   }
}

.dialogImage {
   width: 30px;
   height: 30px;
   margin-bottom: -4px;
   margin-right: 15px;
}

.dialogTitle {
   display: inline-block;
   color: var(--negativeThemeColor);
   font-size: 32px;
   font-family: boldest;
}

.dialogContentContainer {
   width: 100%;
   margin-top: 20px;
}

.dialogContentContainer t {
   opacity: 0.6;
}

.dialogContentContainer:empty {
   margin-top: 0;
}

.dialogSelectButton {
   margin-top: 20px !important;
   margin-right: 10px !important;
}

.dialogCloseButton {
   margin-top: 20px !important;
   background-color: transparent !important;
   border: 2px solid rgba(0, 0, 0, 0.1) !important;
   color: var(--negativeThemeColor) !important;
   box-shadow: none !important;
}
@media (prefers-color-scheme: dark) {
   .dialogCloseButton {
      background-color: transparent !important;
      border: 2px solid rgba(255, 255, 255, 0.1) !important;
   }
}
